body{
font-family: 'Poppins', sans-serif;
}

.line_design{
    display: flex;
    margin-left: 50px;
}

.line1{
    height: 5px;
    width: 3rem;
    border-radius: 5px;
    position: relative;
    left: 2px;
    background-color: #32CD32;
}

.line2{
    height: 5px;
    width: 1rem;
    border-radius: 5px;
    background-color: #32CD32;
}

.head_text{
    margin-left: 50px;
}

.line_text{
    margin-left: 50px;
}