.container-fluid{
    padding: 5px 5px 5px 5px;
}

.container-fluid img{
    height: 25px;
    width: 125px;
}

.balloon{
    color: #0aa338;
}

.arrow{
    color: #0aa338;
}

.gs{
    position: relative;
    left: 420px;
}

.dfp{
    margin-left: 455px;
}

.ndp{
    margin-left: 20px;
}

.cart{
    margin-left: 20px;
}

.gs_btn{
    border-radius: 20px;
}

.sign_in_btn{
    font-weight: 700;
    margin-left: 20px;
    background-color: #00cc99;
    border-color: #00cc99;
    border-radius: 20px;
}

.brand_img{
    margin-left: 50px;
}