.g_container{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.services{
    margin-bottom: 2rem;
    margin-left: 35px;
}

.card-body{
    width: 20rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}